@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  font-family: "Hind", sans-serif;
  color: rgb(0, 0, 0);
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  font-size: 12px;
  z-index: 1;
}

header {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem;
  position: fixed;
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  z-index: 2;
}

.header {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.header-title {
  font-size: 4em;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-shadow: 10px 8px 1px #000000, -5px 0px 1px black, 5px 0px 1px black, 0px 5px 1px black, 0px -5px 1px black;
  margin-bottom: 20px;
}
.header-subtitle {
  font-size: 1em;
  letter-spacing: 0.5em;
  text-align: center;
}
.header-version {
  color: #ffe100;
  font-weight: 400;
  text-shadow: 3px 0px 1px #000000, -3px 0px 1px #000000, 0px 3px 1px #000000, 0px -3px 1px #000000;
}
.header-nav {
  font-size: 1.3em;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.nav-btn {
  all: unset;
  margin-right: 1.5em;
  transition: 0.1s;
  padding-bottom: 10px;
  margin-bottom: 20px;
  line-height: 2rem;
  cursor: pointer;
}

.nav-btn:hover {
  box-shadow: 5px 5px 1px black ;
  cursor: pointer;
  transition: 0.1s;
}

.section-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  scroll-margin-top: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

.section-intro-animation {
  display: flex;
}

.gif {
  margin-right: 50px;
  height: 130px;
}

.speechbox {
  position: relative;
}

.speechbox-main {
  margin: 20px auto;
  height: 60px;
  width: 600px;
  border: 5px solid black;
  box-shadow: 10px 10px 1px black;
  padding: 15px;
}

.speechbox-direction1 {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #000000;
  border-top: 20px solid #000000;
  border-bottom: 20px solid transparent;
  left: -37px;
  top: 60px;
}

.speechbox-direction2 {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left:15px solid transparent;
  border-right: 15px solid #ffffff;
  border-top: 15px solid #ffffff;
  border-bottom: 15px solid transparent;
  left: -24px;
  top: 65px;
}

#speechbox-text-sentence {
  color: #000000;
  line-height: 2rem;
}

.scroll-btn {
  background-color: transparent;
  position: absolute;
  top: 90%;
  animation: fadeAndScale 1.5s infinite alternate-reverse;
}

.last {
  rotate: 180deg;
}

@keyframes fadeAndScale {
  0% { opacity: 0.2;
        scale: 1; }
  100% { opacity: 1;
  scale:1.1; }
}

.arrow-icon {
  height : 50px;
  rotate: 90deg;
  cursor: pointer;
}



.section-aboutme {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: -4rem;
  scroll-snap-align: start;
  position: relative;
}
.section-aboutme-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.section-aboutme-title {
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 30px;
  width: auto;
  border: 5px solid black;
  box-shadow: 10px 10px 1px black;
  padding: 20px 10px 0px;
}
.section-aboutme-description {
  width: 70%;
  margin-top: 15px;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

p {
  font-weight: 500;
  padding-right: 30px;
  margin-bottom: 20px;
}

.section-skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: -2rem;
  scroll-snap-align: start;
  position: relative;
}
.section-skills-arrow {
  height: 1.1em;
}
.section-skills-title {
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  font-size: 1.1em;
  margin-left: 15px;
}
.section-skills-div {
  display: flex;
  justify-content: center;
}
.section-skills-lists {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  box-shadow: 10px 10px 1px #ffe100;
  margin: 5%;
  padding: 5%;
}
.section-skills-lists-title {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}
.section-skills-lists:hover {
  box-shadow: 10px 10px 1px #000000;
}
.section-skills-list {
  display: flex;
}

.skills-list {
  display: flex;
  flex-direction: column;
}

li {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-work {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", "Hind";
  scroll-margin-top: -1rem;
  scroll-snap-align: start;
  position: relative;
}

.section-work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-work-list-img {
  margin: 10px 20px 15px 10px;
  height: 60%;
}
.section-work-item {
  display: flex;
  border: 5px solid black;
  box-shadow: 10px 10px 1px #ffe100;
  align-items: center;
  /* justify-content: space-between; */
  padding: 1%;
  margin-bottom: 5%;
  width: 600px;
  height: 110px;
}
.section-work-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 90px;
}
.section-work-item-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0 5px;
}
.section-work-item-description {
  font-size: 1.1rem;
  margin-bottom: 5px;
  line-height: 1rem;
}
.section-work-item-stack {
  font-size: 1.1rem;
  font-style: italic;
  /* margin: auto 0px; */
}
.section-work-item-icon {
  height: 50px;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

.section-contact {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* font-family: "Press Start 2P", "Montserrat", sans-serif; */
  /* font-size: 1.5rem; */
  scroll-margin-top: -2rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

.section-contact-list {
  display: flex;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 15%;
  justify-content: space-around;
}

.section-contact-item {
    transition: 0.5s;
}

.section-contact-item:hover {
  scale: 1.1;
  transition: 0.5s;
}

.section-contact-img {
  height: 100px;
}


@media (max-width: 880px) {
  /* * {
    scroll-behavior: smooth;
    -ms-scroll-snap-type: initial;
        scroll-snap-type: initial;
  } */

  body {
    font-size: 10px;
  }

  header {
    justify-content: flex-start;
    margin-top: 1.5rem;
  }

  .header {
    align-items: center;
    margin: auto;
    margin-right: 10%;
    margin-bottom: 0.5rem;
  }
  .header-title {
    font-size: 3em;
    text-shadow: 8px 6px 1px #000000, 
    -5px 0px 1px black, 
    5px 0px 1px black, 
    0px 5px 1px black, 
    0px -5px 1px black;
    letter-spacing: 0.4em;
  }

  .scroll-btn {
    display: none;
  }

  .section-intro .section-aboutme .section-skills .section-work {
    scroll-margin-top: 100;
    scroll-snap-align: center;
    scroll-snap-stop: initial;
  }

  .section-intro-animation {
    flex-direction: column;
  }

  .speechbox-main {
    width: 300px;
    height: 150px;
  }

  .speechbox-direction1 {
    border-left: 20px solid #000000;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #000000;
    left: 130px;
    top: -17px;
  }

  .speechbox-direction2 {
    border-left:17px solid #ffffff;
    border-right: 17px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 17px solid #ffffff;
    left: 137px;
    top: -3px;
  }
  .section-aboutme-header {  
    scale: 0.8;
    margin-top: 50px;
  }

  .section-aboutme-title {
    height: auto;
    width: auto;
  }

  .section-aboutme-description {
    width: 90%;
    line-height: 1.2rem;
    /* font-size: 1rem; */
  }

  .section-work-item {
    scale: 0.9;
  }
}

/* PHONE PHONE PHONE PHONE PHONE  */
/* @media only screen and (max-width: 600px) */
@media (max-width: 600px) {
  /* * {
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  } */

  body {
    width: 100%;
    font-size: 7px;
  }
  header {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 3% 1%;
  }

  .header {
    align-items: center;
    margin: auto;
  }

  .header-title {
    text-shadow: 5px 5px 1px #000000, 
    -4px 0px 1px black, 
    4px 0px 1px black, 
    0px 4px 1px black, 
    0px -4px 1px black;
    letter-spacing: 0.8rem;
  }

  .header-nav {
    flex-wrap: wrap;
  }

  .header-nav a {
    display: inline-block;
  }

  .section-intro {
    font-size: 1rem;
    justify-content: flex-start;
    padding-top: 30%;
  }

  .section-intro-animation {
    height: 45vh;
    justify-content: space-between;
    align-items: center;
  }

  .speechbox-main {
    height: 150px;
    width: 200px;
  }

  .section-aboutme-header {
    scale: 0.6;
  }

  .section-aboutme-description {
    font-size: 0.9rem;
    /* line-height: 1.5rem; */
  }

  .section-skills {
    justify-content: flex-start;
    padding-top: 15%;
  }

  .section-skills-div {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.6rem;
    align-items: center;
  }

  .section-skills-lists {
    width: 25%;
    height: 150px;
    margin-top: 0;
  }

  .skills-list-list li {
    font-size: 0.8rem;
    margin-bottom: 1%;
  }

  .section-work {
    padding-top: 10%;
    justify-content: flex-start;
  }

  .section-work-item {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 200px;
  }

  .section-work-list-img {
    width: 60%;
  }

  .section-work-item-text {
    text-align: center;
  }

  .section-work-item-title, .section-work-item-stack {
      font-size: 0.8rem;
  }

  .section-work-list a {
    margin: 0;
    padding: 0;
  }

  .section-contact {
    justify-content: flex-start;
    padding-top: 15%;
    padding-bottom: 20%;
  }

  .section-contact-list {
    flex-direction: column;
  }

  .section-contact-item {
    display: inline-block;
    text-align: center;
    margin-bottom: 5%;
 }

 .section-contact-img {
    height: 60px;
}

}