@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  font-family: "Hind", sans-serif;
  color: rgb(0, 0, 0);
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  font-size: 12px;
  z-index: 1;
}

header {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem;
  position: fixed;
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  z-index: 2;
}

.header {
  display: flex;
  flex-direction: column;
}
.header-title {
  font-size: 4em;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-shadow: 10px 8px 1px #000000, -5px 0px 1px black, 5px 0px 1px black, 0px 5px 1px black, 0px -5px 1px black;
  margin-bottom: 20px;
  margin-right: 100px;
}
.header-subtitle {
  font-size: 1em;
  letter-spacing: 0.5em;
  text-align: center;
}
.header-version {
  color: #ffe100;
  font-weight: 400;
  text-shadow: 3px 0px 1px #000000, -3px 0px 1px #000000, 0px 3px 1px #000000, 0px -3px 1px #000000;
}
.header-nav {
  font-size: 1.3em;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1em;
}

a {
  all: unset;
  margin-right: 1.5em;
  transition: 0.1s;
  padding-bottom: 10px;
  margin-bottom: 20px;
  line-height: 2rem;
  cursor: pointer;
}

.nav-btn:hover {
  box-shadow: 5px 5px 1px black ;
  cursor: pointer;
  transition: 0.1s;
}

.section-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  scroll-margin-top: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

.section-intro-animation {
  display: flex;
}

.gif {
  margin-right: 50px;
  height: 130px;
}

.speechbox {
  position: relative;
}

.speechbox-main {
  margin: 20px auto;
  height: 60px;
  width: 600px;
  border: 5px solid black;
  box-shadow: 10px 10px 1px black;
  padding: 15px;
}

.speechbox-direction1 {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #000000;
  border-top: 20px solid #000000;
  border-bottom: 20px solid transparent;
  left: -37px;
  top: 60px;
}

.speechbox-direction2 {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #ffffff;
  border-top: 15px solid #ffffff;
  border-bottom: 15px solid transparent;
  left: -24px;
  top: 65px;
}

#speechbox-text-sentence {
  color: #000000;
  line-height: 2rem;
}

.scroll-btn {
  background-color: transparent;
  position: absolute;
  top: 90%;
  animation: fadeAndScale 1.5s infinite alternate-reverse;
}

@keyframes fadeAndScale {
  0% { opacity: 0.2;
        scale: 1; }
  100% { opacity: 1;
  scale:1.1; }
}

.arrow-icon {
  height : 50px;
  rotate: 90deg;
  cursor: pointer;
}



.section-aboutme {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: 0;
  scroll-snap-align: start;
  position: relative;
}
.section-aboutme-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.section-aboutme-title {
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 30px;
  width: auto;
  border: 5px solid black;
  box-shadow: 10px 10px 1px black;
  padding: 20px 10px 0px;
}
.section-aboutme-description {
  width: 60%;
  margin-top: 15px;
  font-size: 1.5rem;
}

p {
  font-weight: 500;
  padding-right: 30px;
  margin-bottom: 20px;
}

.section-skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: 0;
  scroll-snap-align: start;
  position: relative;
}
.section-skills-arrow {
  height: 1.1em;
}
.section-skills-title {
  font-family: "Press Start 2P", "Montserrat", sans-serif;
  font-size: 1.1em;
  margin-left: 15px;
}
.section-skills-div {
  display: flex;
  justify-content: center;
}
.section-skills-lists {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  box-shadow: 10px 10px 1px #ffe100;
  margin: 5%;
  padding: 5%;
}
.section-skills-lists-title {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}
.section-skills-lists:hover {
  box-shadow: 10px 10px 1px #000000;
}
.section-skills-list {
  display: flex;
}

.skills-list {
  display: flex;
  flex-direction: column;
}

li {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-work {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", "Hind";
  scroll-margin-top: 0;
  scroll-snap-align: start;
  position: relative;
}

.section-work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-work-list-img {
  margin: 10px 20px 10px 10px;
}
.section-work-item {
  display: flex;
  border: 5px solid black;
  box-shadow: 10px 10px 1px #ffe100;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  margin-bottom: 30px;
  width: 600px;
}
.section-work-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.section-work-item-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.section-work-item-description {
  font-size: 1.1rem;
  margin: 15px 0;
}
.section-work-item-stack {
  font-size: 1.1rem;
  font-style: italic;
  margin: auto 0px;
}
.section-work-item-icon {
  height: 50px;
  margin: auto;
}

.hidden {
  box-shadow: 10px 10px 1px #000000;
}
.hidden img {
  visibility: hidden;
}

.section-work .scroll-btn {
  rotate: 180deg;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Hind', sans-serif; *//*# sourceMappingURL=style_home.css.map */