body {
    font-family: 'Hind', sans-serif;
    color: rgb(0, 0, 0);
    height: 100%;
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;
}

// HEADER HEADER HEADER HEADER HEADER HEADER HEADER 

header {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem;
    position: fixed;
    font-family: 'Press Start 2P', 'Montserrat', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;

    &-title {
        font-size: 4em;
        color: #ffffff;
        letter-spacing: 0.2em;
        font-weight: 900;
        text-shadow: 15px 10px 1px #000000,
        -5px 0px 1px black,
        5px 0px 1px black,
        0px 5px 1px black,
        0px -5px 1px black;
        margin-bottom: 20px;
    }

    &-subtitle {
        font-size: 1em;
        letter-spacing: 0.5em;
        text-align: center;
        // text-shadow: 1px 0px 1px #1e7a01,
        // -1px 0px 1px #1e7a01,
        // 0px 1px 1px #1e7a01,
        // 0px -1px 1px #1e7a01;
    }

    &-version {
        color: #ffe100;
        font-weight: 900;
        text-shadow: 3px 0px 1px #000000,
        -3px 0px 1px #000000,
        0px 3px 1px #000000,
        0px -3px 1px #000000;
    }

    &-nav {
        font-size: 1.3em;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 0.1em;
    }
}

a {
    all: unset;
    margin-right: 1.5em;
    transition: 0.1s;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
a:hover {
    box-shadow: 5px 5px 1px black;
    cursor: pointer;
    transition: 0.1s;
}
// MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN 

// INTRO
.section-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', 'Montserrat', sans-serif;
    font-size: 1.5rem;
    height: 100vh;
}

.gif {
    margin-right: 50px;
    height: 130px;
}

.speechbox {
    position:relative;
}

.speechbox-main {
    margin: 20px auto;
    height: 60px;
    width: 600px;
    border: 5px solid black;
    box-shadow: 10px 10px 1px black;
    padding: 15px;
}

.speechbox-direction1 {
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid #000000;
    border-top: 20px solid #000000;
    border-bottom: 20px solid transparent;
    left: -35px;
    top: 60px;
}

.speechbox-direction2 {
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #ffffff;
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid transparent;
    left: -25px;
    top: 65px;
}

// ABOUT ME

.section-aboutme {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
     
    &-title {
        font-family: 'Press Start 2P', 'Montserrat', sans-serif; 
        font-size: 1.5rem;
        height: 30px;
        width: auto;
        border: 5px solid black;
        box-shadow: 10px 10px 1px black;
        padding: 20px 10px 0px;
    }

    &-description {
        width: 60%;
    }
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 30px;
    margin-bottom: 20px;
}

// SKILLS
.section-skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    &-arrow {
        height: 1.1em;
    }

    &-title {
        font-family:'Press Start 2P', 'Montserrat', sans-serif; 
        font-size: 1.1em;
        margin-left: 15px;
    }
    &-div {
            display: flex;
        }
    &-lists {
        display: flex;
        flex-direction: column;
        border: 5px solid black;
        box-shadow:5px 5px 1px #ffe100;
        margin: 5%;
        padding:5%;

        &-title {
            display: flex;
            margin: 10px;
        }
    }    
    &-list {
        display: flex;
    }
}

.skills-list {
    display: flex;
    flex-direction: column;
}

li {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
// WORK
.section-work {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

// BACKGROUND BACKGROUND BACKGROUND BACKGROUND 

// FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&display=swap');

/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

/* font-family: 'Hind', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// font-family: 'Press Start 2P', cursive;
