body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  padding: 10% 0;
}

* {
  box-sizing: border-box;
}
/* HEADER */

.header {
  background-color: rgba(255, 255, 255, 0.5);
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
}

header a {
  text-decoration: none;
  color: hsl(228, 12%, 48%);
  font-weight: bold;
}
/* MAIN */
.frame {
  background-color: white;
  border-radius: 20px;
  max-width: 700px;
  height: 500px;
  display: flex;
  margin: auto;
  transition: all 0.5s;
}

/* LEFT SIDE */

.picture {
  background-image: url("./images/image-product-desktop.jpg");
  background-size: 360px auto;
  background-repeat: no-repeat;
  width: 50%;
  border-radius: 20px 0 0 20px;
}

/* RIGHT SIDE */

.description {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-cat {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 2% 0;
}

.product-name,
.new-price {
  font-family: "Fraunces", serif;
  font-size: 3em;
  color: hsl(212, 21%, 14%);
  padding: 2% 0;
}

.product-description {
  line-height: 1.7em;
  padding: 2% 0;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2% 0;
}

.new-price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
}

.old-price {
  text-decoration: line-through;
  margin-left: 15px;
}

button {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

button:hover {
  background-color: hsl(158, 59%, 14%);
  cursor: pointer;
}

.cart-icon {
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .header {
    text-align: center;
  }
  .frame {
    background-color: white;
    border-radius: 20px;
    width: 340px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 17% auto;
  }

  .picture {
    background-image: url("./images/image-product-mobile.jpg");
    /* background-size: auto 250px; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    border-radius: 15px 15px 0 0;
    width: auto;
  }

  .description {
    height: 60%;
    width: auto;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .product-name,
  .new-price {
    font-size: 2rem;
  }
}
